

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

@import url("header.css");

a {
    text-decoration: none;
    color: rgb(221, 221, 221);
}

@font-face {
    font-family: 'AstronautFont';
    src:  url('../fonts/astronaut_personaluse-webfont.woff') format('woff2'),
          url('../fonts/astronaut_personaluse-webfont.woff2') format('woff');
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}


.container-join {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(185, 185, 185);
    flex-direction: column;
}

.content-join {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.space-vertical-poster {
    width: 45%;
    filter: drop-shadow(0 0 0.6em rgb(185, 185, 185));
    transition: 0.3s all;
}

.join-description {
    width: 45%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1rem;
}

.title-description {
    font-family: 'AstronautFont';
    font-size: 1.4rem;
}








/****************************FORM******************************/


.join-title {
    font-family: "AstronautFont";
    font-size: 1.4rem;
}

form {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
    color: rgb(185, 185, 185);
}


@media screen and (max-width: 950px){
    
    .space-vertical-poster {
        display: none;
    }

    .join-description {
        width: 90%;
    }
    
}




/*******************Footer**************************/




.container-footer {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    color: #e4e4e4;
}

.content-footer {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-media-content {
    position: absolute;
    left: 0%;
    top: 15%;
    width: 50px;
    height: 230px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    background-color: #525050;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.social-media-content i {
    margin-left: 13px;
    cursor: pointer;
    transition: 0.2s all;
    transform: scale(1.6);
}

.social-media-content i:hover {
    color: #243949;
}

.logo-footer {
    width: 250px;
    filter: drop-shadow(0 0 0.2em rgb(196, 196, 196));
}

.footer-title {
    font-size: 1.4rem;
}

.copyright {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.80rem;
    border-top: 1px solid orange;
}

.the-programmer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    font-size: 0.9rem;
}




/*******************Fim Footer**************************/
