

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');


@import url("header.css");

a {
    text-decoration: none;
    color: rgb(221, 221, 221);
}

@font-face {
    font-family: 'AstronautFont';
    src:  url('../fonts/astronaut_personaluse-webfont.woff') format('woff2'),
          url('../fonts/astronaut_personaluse-webfont.woff2') format('woff');
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.container-planets-spaceflights {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: rgb(185, 185, 185);
}


/********************************CONTENT 1*********************************/
.content-1-planets-spaceflights {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(151, 151, 151);
}

.bg-1 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: #e4e4e4;
}

.bg-2 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50vh;
    background-color: #222222;
}

.title-spaceflights-1 {
    position: absolute;
    left: 5%;
    font-size: 4.4rem;
    font-family: 'AstronautFont';
}

.title-spaceflights-2 {
    position: absolute;
    right: 3%;
    font-size: 4.4rem;
    font-family: 'AstronautFont';
}

.planet-wallpaper {
    width: 50%;
    filter: drop-shadow(0 0 0.9em rgb(236, 236, 236));
}



/********************CONTENT 2 ***********************/
.content-2-planets-spaceflights {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(151, 151, 151);
}

.img-content-white-bg {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e4e4e4;
    color: rgb(37, 37, 37);
}

.img-content-black-bg {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #272727;
    color: rgb(151, 151, 151);
}

.moon {
    width: 400px;
    filter: drop-shadow(0 0 0.3em rgb(238, 238, 238));
}

.img-content-white-bg img {
    width: 400px;
}

.titles-planets {
    font-family: 'AstronautFont';
    font-size: 1.6rem;
}

.black-description-content {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #272727;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.15rem;
}

.white-description-content {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e4e4e4;
    color: rgb(37, 37, 37);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.15rem;
}



/*******************Footer**************************/




.container-footer {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    color: #e4e4e4;
}

.content-footer {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-media-content {
    position: absolute;
    left: 0%;
    top: 15%;
    width: 50px;
    height: 230px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    background-color: #525050;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.social-media-content i {
    margin-left: 13px;
    cursor: pointer;
    transition: 0.2s all;
    transform: scale(1.6);
}

.social-media-content i:hover {
    color: #243949;
}

.logo-footer {
    width: 250px;
    filter: drop-shadow(0 0 0.2em rgb(196, 196, 196));
}

.footer-title {
    font-size: 1.4rem;
}

.copyright {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.80rem;
    border-top: 1px solid orange;
}

.the-programmer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    font-size: 0.9rem;
}




/*******************Fim Footer**************************/


@media screen and (max-width: 850px) {
    

    .title-spaceflights-2, .title-spaceflights-1 {
        position: relative;
        right: 0%;
        left: 0%;
    }
    .content-1-planets-spaceflights {
        flex-direction: column;
    }

}

@media screen and (max-width: 800px) {
    

    .content-2-planets-spaceflights {
        flex-direction: column;
    }

    .img-content-white-bg, .img-content-black-bg, .white-description-content, .black-description-content {
        width: 100%;
    }

    .planet-texts-content {
        width: 90%;
        margin-bottom: 50px;
        height: auto;
    }

    .img-content-white-bg {
        background-color: #272727;
        color: #e4e4e4;
    }
    .img-content-black-bg {
        background-color: #e4e4e4;
        color: #272727;
    }

    .titles-planets  {
        margin-bottom: 30px;
    }


}

@media screen and (max-width: 750px) {
    

    .img-content-white-bg, .img-content-black-bg {
        height: 40vh;
    }

    .content-2-planets-spaceflights {
        height: auto;
    }


}

@media screen and (max-width: 500px) {
    

    .moon, .img-content-white-bg img {
        width: 300px;
    }

    .title-spaceflights-1, .title-spaceflights-2 {
        font-size: 3.5rem;
    }

    .planet-wallpaper {
        width: 75%;
    }
    


}
